body.dark-mode {
  background-color: #1f1f1f;
  color: #efefef;
}

.arrow.dark-mode {
  filter: invert(100%);
}

body {
  margin: 0;
  background-color: #fafafa;
  color: #222;
  transition: all 0.5s ease-in;
}

.container {
  background-image: url('./tomato.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 315px;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  font-family: cursive;
}

#countdown {
  position: relative;
  top: 40%;
  color: white;
  font-size: 2em;
}
#time-type {
  position: relative;
  top: 37%;
  color: white;
  font-size: 1em;
}
header {
  background-color: rgb(221, 62, 68);
  font-size: 2.4em;
  font-family: cursive;
  color: white;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}

header i {
  width: 30px;
  height: 30px;
  background-image: url('./sun.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  cursor: pointer;
}

header i.dark-mode {
  background-image: url('./moon.svg');
}

/*Slider*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch #btn-on-off {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#btn-on-off:checked + .slider {
  background-color: #f32121;
}

#btn-on-off:focus + .slider {
  box-shadow: 0 0 1px #f32121;
}

#btn-on-off:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#container-on-off {
  width: 100%;
  max-width: 300px;
  margin: 2em auto;
  text-align: center;
}
.arrow {
  background-color: transparent;
  font-size: 2em;
}
.arrow:hover {
  cursor: pointer;
}

@media (max-width: 370px) {
  header {
    font-size: 1.5em;
  }

  header i {
    width: 15px;
    height: 15px;
  }

  .container {
    background-image: url('./tomato.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 215px;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 1.1em;
    font-family: cursive;
  }
}
